body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.text-gray{
    color: #A3A5BA;
}

.font-montserrat{
    font-family: Montserrat !important;
}

 .content-text-nouve-1, .content-items-1
{
    padding-right: 20px !important; 
    padding-left: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-items-2
{
    padding-right: 0px !important; 
    padding-left: 20px !important;
    padding-top: 15px !important;
    padding-bottom: 20px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-items-3{
    padding-right: 27px !important; 
    padding-left: 0px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-items-5{
    padding-right: 20px !important; 
    padding-left: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.content-items-4{
    padding-right: 20px !important; 
    padding-left: 20px !important;
    padding-top: 5px !important;
    padding-bottom: 20px !important;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.padding-header{
    padding: 16px 109px 16px 109px;
}

.padding-content{
    padding: 24px 100px;
}

.font-14{
    font-size: 14px;
}

.link-site-web{
    font-family: Geist;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #ffff;
    width: 108;
    height: 21;
    text-decoration: none !important;
}

.paiment-opt .link-site-web:hover {
    color: #5D7CE8;            /* Color al pasar el mouse */
    text-decoration: none;     /* Evita que aparezca subrayado en hover */
}

.bonus-bienvenue{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    leading-trim: Altura de la mayúscula;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #00FF62;

}

.header-logo{
    gap: 0.5rem;
}
.gap-header{
    gap: 30px;
}

.button-bonus{
    padding-left: 15px;
}

.gap-15{
    gap: 15px;
}

.gap-50{
    gap: 50px;
}

.gap-header-2{
    gap: 50px;
}

.text-header{
    color:#A3A5BA; 
    font-size: 12px;
}

.more-18 {
	/* width: 49.56px; */
	/* height: 33.13px; */
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 17.81px;

	padding: 5px;

	border-radius: 8.9px;
	border: 2px solid red; /* Ajusta el color según lo necesites */

	font-size: 32.81px; /* Puedes ajustar tamaño */
	font-weight: bold;
	color: #A3A5BA; /* Color de texto */
}

.content-banner-number
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    gap: 15px !important;
}

/* ✅ Media query para teléfonos */
@media (max-width: 968px) {
	.padding-header {
		padding: 0;
	}

    .gap-header-2{
        gap: 10px;
        /* margin-top: 1.5rem; */
    }

    .text-header{
        color:#A3A5BA; 
        font-size: 10px;
        text-align: left;
    }

    .header-logo{
        gap: 6rem;
    }
    .padding-content{
        padding: 0px;
    }

    .button-bonus{
        padding-top: 10px !important;
    }

    .content-banner-number
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .number{
        margin-top: -23px;
    }

    .content-text-nouve{
        padding-top: 0px !important;
        padding-left: 0px !important;
    }
    .content-items-1, .content-items-4{
        flex-direction: row;
    }
    .content-items-2, .content-items-3, .content-items-1{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .content-justify-4{
        display: flex;
        justify-content: center;
    }
}

/* Cod evaluation star */

.rating-circle {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(180deg, #FF61C7, #41F2F8); /* El borde gradiente */
    padding: 8px; /* Grosor del borde */

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.rating-circle::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #0d092a; /* Fondo interior sólido o transparente si quieres */
    border-radius: 50%;
    margin: 8px; /* Debe coincidir con el padding del contenedor */
    z-index: 1;
}

.rating-circle span {
    position: relative;
    color: #fff;
    font-weight: bold;
    z-index: 2;
}


.rating-number {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    z-index: 1;
    position: relative;
}

.rating-label {
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}


/* Content text home page */

.border-container-text {
	background-color: #0F0D1D;
	padding: 16px 32px;
	border-radius: 16px;
	position: relative;
	overflow: hidden; /* Clave para mantener el borde con radios */

	/* Borde simulado con un pseudo-elemento */
}

.border-container-text::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 16px; /* mismo radio */
	padding: 2px; /* grosor del borde */
	background: linear-gradient(90deg, #5D7CE8 0%, rgba(93, 124, 232, 0) 100%);
	-webkit-mask: 
		linear-gradient(#fff 0 0) content-box, 
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	pointer-events: none;
}

p{
   margin: 5px 0px !important;
}

.box-wrapper .title-box-wrapper-pbt-h1
{
    /* font-size: 26px; */
    font-family: Barlow;
    font-weight: 900 !important;
    font-size: 36.2px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-bottom: 1rem !important;
}

.box-wrapper .title2-box-wrapper-pbt-h1
{
    font-family: Barlow;
    font-weight: 700 !important;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 15px !important;
}

.box-wrapper .text-box-wrapper-pbt-h2
{
    font-family: Barlow;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
}

.box-wrapper  .text-box-wrapper
{
    font-size: 17px;
}

.border-container-text p {
    font-family: Barlow;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 0%;
}

/* HERO IMAGE CONTAINER */
.hero-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden; /* importante para evitar desbordes */
}

.hero-img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    padding: 20px;
    width: 90%;
    max-width: 600px; /* controla el ancho máximo del bloque de texto */
    box-sizing: border-box;
}

.hero-text h1 {
    font-size: 36.2px;
    font-weight: 900;
    margin: 0 0 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-family: Barlow !important;
}

.hero-text p {
    font-size: 20px;
    margin: 0;
    font-family: Barlow, sans-serif;
    text-transform: uppercase;
}

.mode-mobile-content{
    display: none;
}

.mode-desk-content{
    display: flex;
}

.padding-content-home-banner{
    padding-left: 31px;
    padding-right: 31px;
}

/* Responsive para tablets */
@media (max-width: 1330px) {
    .hero-text h1 {
        font-size: 25px;
    }
    .hero-text p {
        font-size: 15px;
    }
}

/* Responsive para móviles pequeños */
@media (max-width: 996px) {
    .hero-text h1 {
        font-size: 20px;
        line-height: 1.2;
    }
    .hero-text p {
        font-size: 10px;
        line-height: 1.3;
    }
    .rating-circle {
        padding: 4px; /* Grosor del borde */
    }

    .rating-circle::before {
        margin: 4px; /* Debe coincidir con el padding del contenedor */
    }
    .rating-number{
        font-size: 14px;
    }
}

/* Responsive para móviles pequeños */
@media (max-width: 446px) {
    .hero-text h1 {
        font-size: 12px;
        margin: 0 0 5px 0;
    }
    .hero-text p {
        font-size: 8px;
    }
}


/* MODE PHONE SECTION EVALUATION */
@media (max-width: 991px) {
    .mobile-justify-between {
        display: flex !important;
        justify-content: space-between !important;
    }
    .content-items-3, .rating-label{
        display: none;
    }
    .rating-circle{
        width: 50px;
        height: 50px;
    }
    .circle-mobile{
        margin: 15px;
    }
    .rating-circle::before{
        padding: 4px;
    }
    .mode-mobile-content{
        display: block;
    }
    .mode-desk-content{
        display: none;
    }
    .footer-nav-wrap{
        padding: 20px 0px !important;
    }
    .box-wrapper .title-box-wrapper
    {
        font-size: 17px;
    }

    .box-wrapper  .text-box-wrapper
    {
        font-size: 15px;
    }
}


.legal-operator {
    padding: 10px 20px;
    /* margin-bottom: 16px; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    box-sizing: border-box;
    background: linear-gradient(90deg, #09BCE5 0%, rgba(17, 47, 113, 0.14) 100%);
    position: relative;
    border-radius: 0 0 0 10px;
}

/* Simulamos el borde superior con ::before */
.legal-operator::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, #0D164E 0%, #09C3EE 100%);
}

.legal-operator span{
    font-family: Montserrat !important;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 5%;
    text-transform: uppercase;
    color: #ffff;
    margin-top: 2px
}


@media (max-width: 576px) {
    .legal-operator {
        width: 100%;
        justify-content: center;
    }
    .box-wrapper .title-box-wrapper-pbt-h1{
        font-size: 18px;
    }
}


.paris-ol-list {
    list-style: none;
    counter-reset: paris-item;
}

.paris-ol-list li {
    counter-increment: paris-item;
    position: relative;
    padding-left: 30px;
}

.paris-ol-list li::before {
    content: counter(paris-item) ".";
    position: absolute;
    left: 0;
    font-weight: bold;
    color: white; /* Puedes ajustar el color */
}


/* BUTTON */

.btn-action-new {
    /* width: 200px; */
    height: 56px;
    text-align: center;
    font-family: 'Geist', sans-serif !important;
    font-weight: 700 !important;
    font-size: 16px;
    line-height: 150%;
    color: #fff !important;
    text-decoration: none !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 16px 12px;
    background: linear-gradient(90deg, #E554DC 0%, #FD73FF 100%);
    box-shadow:
        0px -3px 0px 0px #00000063 inset,
        0px 2px 0px 0px #FFFFFF70 inset,
        0px 0px 53.1px 0px #680043;
    transition: all 0.3s ease;
}

/* HOVER STATE */
.btn-action-new:hover {
    background: linear-gradient(90deg, #DE26D3 0%, #A600A8 100%);
    box-shadow:
        0px -3px 0px 0px #00000063 inset,
        0px 2px 0px 0px #FFFFFF70 inset,
        0px 0px 53.1px 0px #680043;
}

/* RESPONSIVE TEXT SIZE */
@media (max-width: 1088px) {
    .btn-action-new {
        font-size: 14px;
        padding: 14px 10px;
    }
}

.main-navigation .current-menu-item > a span,
.main-navigation .current_page_item > a span {
    color: #ffff !important; /* Color para el enlace activo */
    font-weight: 700;
}


/* MODE MOBILE */

#mobileMenu #menu-menu-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-left: 0;
}


@media (max-width: 1423px) {
	.header-logo {
		width: 100%;
		justify-content: center;
		margin-bottom: 10px; /* opcional */
	}

	.gap-header-2 {
		width: 100%;
		justify-content: center !important;
		text-align: center !important;
		margin-top: 10px;
	}

	.padding-header {
		flex-direction: column; /* Para que los elementos se apilen verticalmente */
		gap: 10px; /* Ajustable */
	}
}
